{{!-- <h1>Number: {{this.number}}</h1>
<button {{on "click" this.addNumber}}>Add</button> --}}

<LinkTo @route="item" @model={{@product.id}} class="product">
    <Product::Image @src={{this.productImage}}/>
    <Product::Details
    {{!-- @product是父组件传过来的 --}}
    @name={{@product.name}} 
    @price={{@product.price}}
    />
</LinkTo>